{% extends "layout.html" %}
{% block content%}
	<div class="media-body">
		<ul class="ingredientpills">
		{% for ingredient in ingredients %}
			<li>{{ ingredient }}</li>
		{% endfor %}
		</ul>
	</div>

	{% for recipe in recipes %}
		<article class="media content-section">
		  <div class="media-body">
		    <h2><a class="article-title" href="{{recipe.url}}">{{ recipe.title }}</a></h2>
		    <p class="article-content"><img src="{{recipe.image}}">
			</p>
		  </div>
		</article>
	{% endfor %}

{% endblock content%}
