
#homebody{
    margin:0px;
    padding:0px;
    background-color: #A1A1DF;
    
}
#header{
    margin:0px;
    padding: 0px;
    width:100vw;
    background-color: #D90B15;
}
#header h1{
    text-align:center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:10vw;
    margin:0px;
    padding: 0px;
    
}
.breadcrumb{
    width:100vw;
    
    padding:0px;
    margin:0px;
    text-align: center;
    background-color:#141726;
    color:#05F2DB;
}
.breadcrumb p{
    display:inline-block;
    margin:0px;
    padding:20px;
    width:220px;
    color:#05F2DB;
    font-size: 30px;
    font-weight:600;
}
a{
    text-decoration: none;
    color:#05F2DB;
    
}
a:visited{
    color:#05F2DB;
}
.bottom{
    text-align: center;
    align-content: center;
    background-color: #A1A1DF;    
}
